<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="encabezado">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo de la pagina" width="100%">
            <div class="form container">
                <form class="search-form" action="#">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más..." autocomplete="off">
                    <button type="submit"><i class= "fas fa-search"></i></i></button>
                </form>
            </div>
            <p class="forma-compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>
        </div>    
        <nav>
            <ul class="lista">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
        
            <ul class="lista">
                <li>
                    <a href="/register">Crear Cuenta<i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner de Promoción" width="100%">
    </header>
    
    <main>
        
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.778</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MackBook" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripciones">MackBook Pro 2019</p>
                    </div>    
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>    
                </article>
            </div>
        </section>
        <section>
            <h3 class="titulares">Sección de Ofertas</h3>
            <div class="products">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$6.778</p>
                        <p class="descuentos">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MackBook" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <p class="descripciones">MackBook Pro 2019</p>
                    </div>    
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv" width="100%">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripciones">SmartTv Samsung 43"</p>
                    </div>    
                </article>
            </div>
        </section>
    </main>

    <footer>
        <section  class="informacion">
            <article class="servicios">
                <i class="fas fa-credit-card"></i>
                <h3 class="footer-titulares">Pagá con tarjeta o en efectivo</h3>
                <p class="beneficios">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="servicios">
                <i class="fas fa-gift"></i>
                <h3 class="footer-titulares">Envío gratis desde $ 2.500</h3>
                <p class="beneficios">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="servicios">
                <i class="fas fa-user-shield"></i>
                <h3 class="footer-titulares">Seguridad, de principio a fin</h3>
                <p class="beneficios">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </section>    
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>